<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
 <h1>Noticia</h1>

 	<table>
 		<tr>
 			<td>Id</td>
 			<td>Titulo</td>
 			<td>Noticias</td>
 		</tr>
 		<% for (var i=0; i<noticias.length; i++){%>

 		<tr>
 			<td><%=noticias[0].id_noticia %></td>
 			<td><%=noticias[0].titulo %></td>
 			<td><%=noticias[0].noticia %></td>
 		</tr>
 		<% } %>
 	</table>
</body>
</html>